.imm{
 display: flex;
 justify-content: center;
 width: 880px !important;
}

.sze{
    font-size: 25px!important;
}

#ttt{
    background: Orgb(0, 101, 219);
    background: linear-gradient(
      900deg,
      rgb(255, 255, 255) 50%,
      rgb(63, 207, 236) 90%
    );
    min-height: 500px;
  }