.nav-links {
  color: inherit;
  text-decoration: inherit;
}
.nav_col{
  text-align: justify;
  }

  .myImg{
    text-align:center;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-right: 10pc;
  }
  .active{
    color: blue;
    background-color: #babbbc76;
   
    border-radius: 25%;
    font-weight: bold;
    font-size: 15px;

  }