.back{
    background-color: rgba(255, 255, 255, 0.609);
}
#Create {
    background: Orgb(0, 101, 219);
    background: linear-gradient(
      900deg,
      rgb(232, 86, 110) 50%,
      rgb(104, 226, 251) 90%
    );
    min-height: 500px;
  }